/* 
    Document   : index_8
    Created on : 01/06/2013, 10:32:04
    Author     : Erick Veras
    Description:
        Purpose of the stylesheet follows.
*/

h1 {
    margin-left: 38px;
}

h1::-moz-selection { color:#E24699; }

article:after {
    content: '';
    clear: both;
    display: block;
}

ol, ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

figure {
    float:left;
    margin: 0;
    margin-right: 10px;
}


figcaption {
    text-align: right
}


#layout {
    font-family: arial;
    min-width: 900px;
    max-width: 1200px;
    margin:auto;
    position: relative;
}

#menu-top {
    color: white;
    background-color: #900;
    position: absolute;
    height: 120px;
    left: 0;
    right: 0;
}

#rodape {
    color: white;
    background-color: #900;
    position: absolute;
    height: 20px;
    left: 220px;
    right: 0;
    top: 900px;
    text-align: center;
    font-size: 15px;
}

#menu-top li {
    margin-right: 20px;
}

#menu-left {
    padding-left: 10px;
    color: white;
    background-color: #900;
    top: 140px;
    position: absolute;
    width: 200px;
    height: 780px;
}

#conteudo {
    position: absolute;
    top: 140px;
    left: 220px;
    height: 740px;
    overflow: auto;
}

#menu-top li {
    display: inline-block;
}

#menu-top ul {
    font-size: medium;
}